h1{
  color: red;
  font-size: 50px;
}

h2{
  font-size: 30px;
  color: red;
}

body{
  background-color: #ffff66;
  cursor: pointer;
}
#tdl{
  display:block;
  text-align: center;
  width: 600px;
  height: 30px;
  color: black;
  font-size: 25px;
}
.tl{
  font-family:cursive;
  background-color:#ffadaa;
  width: 700px;
  height: 1000px;
  border-radius:10px;
  margin: auto;
  padding: 15px;
  border: 10px solid #f2bb71;
  margin-top: 20px;
}

ol {
    margin: 10px;
    padding: 10px;
    color: green;
    text-align: left;
    font-size: 30px;
}

.check{
  color: red;
  text-decoration: line-through;
}

.listtitle{
  margin-top: 0px;
  color: white;
  background-color: red;
  border-color: white;
  border-radius: 2px;
}

#button{
  font-family: Adamina;
  font-size: 90px;
  color: red;
}

.close {
  position: inherit;
  float: right;
    right: 0px;
    top: 0px;
    color: blue;
    margin-right: 0px;
}
